@import "./reset.css"; 
@font-face { 
    font-family: "Roboto" ; 
    src: url("./assets/fonts/Roboto-Regular.ttf"); 
}
.Ra{
    color: black;
    font-size: 85px;
    font-family: Roboto;
}
.logo{
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 85px;
}
.container{
    width: 1480px;
    margin: 0 auto;
    font-family: Roboto;   
}
.nav__list{
    font-family: Roboto; 
    font-size: 24px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #35444F;
}

.nav__list-item{
    border-left: 1px solid #ffffff;
}
.nav__list-item_last{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.nav__list-item:hover{
    background-color: #222F3A;
}
.nav__list-item_last:hover{
    background-color: #222F3A;
}
.header{
    margin-top: 2rem;
}
.nav__link{ 
    padding: 1.6rem;
    color: #ffffff;
    display: inline-block;
}
.page__navigation__title{
    padding: 1rem;
    padding-left: 1.3rem;
    flex-direction: column;
    display: flex;  
}
.main{
    display: flex;
    flex-direction: column;
   
}
.main__location{
    display: flex;
    
}
.aside{
    margin-top: 2rem;
    width: 100%;
  
}
.page__navigation{
    border: 1px solid black; 
    font-size: 27px; 
}
.page__navigation__title{
    margin: 0;
    padding: 0;
}
.nav__aside__link{
    color: #000000;
   display: inline-block;
    padding: 1.3rem;
}
.page__navigation__title:hover{
   background: #DBDBDB;
   padding-left: 2.3rem;
}
 .section__info{  
   padding: 2rem;
   padding-right: 0;
   margin-right: 0rem;  
} 
.section__logo{
    padding: 3rem;
    width: 40%;
    transition: width .4s;
}
.section__logo:hover{
    width: 45%;
}
.foto{
    text-align: center;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
   padding-top: 2rem;
   font-size: 18px;
}
.text__2paragraph{
    padding-top: 1rem;
    font-size: 18px;
}

.nav__footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 3.5rem;
    border: none;
    background: rgba(129, 129, 139, 0.696);
    font-size: 28px;
}
.nav__footer__title{
    color:  #0C1927;
    height: 100%;    
}
.nav__footer__link{
    display: inline-block;
    padding-bottom: 1rem;
    padding-top: .6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer{
    margin-bottom: 2rem; 
}
.nav__footer__title:hover{
   color: #3181A6;
   border-bottom: 4px solid #3181A6;
 }


